*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: url(background.jpg);
}

nav{
    position: relative; 
    height: 12vh;
    background: black;
    opacity: 0.75;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
}

.logo{
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 42px;
    cursor: pointer;
}

.nav-links{
    display: flex;
    list-style: none;
    width: min-content;
    height: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: 5%;
}

.links{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 36px;
    transition: all 200ms ease;
}
.links:hover{
    color: orange;
}

section{
    height: 88vh;
    width: 100%;
}

.text{
    position: absolute;
    left: 50%;
    bottom: 5%;
    background: orange;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    transform: translateX(-50%);
    text-align: center;
    transition: all 200ms ease 200ms;
}
.text.nav-open{
    opacity: 0;
}
.text span{
    color: orangered;
    font-size: 20px;
}
.text a{
    text-decoration: none;
    color: orangered;
    font-weight: 600;
}
.text a:hover{
    color: black;
}

@media screen and (max-width: 768px){
    .line{
        width: 32px;
        height: 3px;
        background: white;
        margin: 6px;
        transition: all 400ms ease;
    }

    #line-1.hover{
        transform: rotate(45deg) translate(12px);
    }
    #line-2.hover{
        opacity: 0;
    }
    #line-3.hover{
        transform: rotate(-45deg) translate(12px);
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
    }

    .nav-links {
        position: fixed;
        background: black;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 800ms ease-out;
        pointer-events: none;
    }
    .nav-links.open-nav{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }

    .links{
        margin: 0;
        font-size: 20px;
    }

    .link-list{
        opacity: 0;
    }
    .link-list.fade{
        opacity: 1;
    }

    .link-list:nth-child(1){
        transition: all 500ms ease 100ms;
    }
    .link-list:nth-child(2){
        transition: all 500ms ease 300ms;
    }
    .link-list:nth-child(3){
        transition: all 500ms ease 500ms;
    }
    .link-list:nth-child(4){
        transition: all 500ms ease 700ms;
    }
    
}